<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MouseKeyHook" version="5.6.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net45" />
  <package id="PInvoke.Gdi32" version="0.5.184" targetFramework="net45" />
  <package id="PInvoke.Kernel32" version="0.5.184" targetFramework="net45" />
  <package id="PInvoke.User32" version="0.5.184" targetFramework="net45" />
  <package id="PInvoke.Windows.Core" version="0.5.184" targetFramework="net45" />
  <package id="PInvoke.Windows.ShellScalingApi" version="0.5.184" targetFramework="net45" />
  <package id="Theraot.Core" version="2.1.0" targetFramework="net45" />
  <package id="Validation" version="2.4.15" targetFramework="net45" />
  <package id="Vanara.Core" version="1.0.14" targetFramework="net45" />
  <package id="Vanara.PInvoke.AclUI" version="1.0.14" targetFramework="net45" />
  <package id="Vanara.PInvoke.ComCtl32" version="1.0.14" targetFramework="net45" />
  <package id="Vanara.PInvoke.CredUI" version="1.0.14" targetFramework="net45" />
  <package id="Vanara.PInvoke.DwmApi" version="1.0.14" targetFramework="net45" />
  <package id="Vanara.PInvoke.Gdi32" version="1.0.14" targetFramework="net45" />
  <package id="Vanara.PInvoke.Kernel32" version="1.0.14" targetFramework="net45" />
  <package id="Vanara.PInvoke.NTDSApi" version="1.0.14" targetFramework="net45" />
  <package id="Vanara.PInvoke.Ole" version="1.0.14" targetFramework="net45" />
  <package id="Vanara.PInvoke.Security" version="1.0.14" targetFramework="net45" />
  <package id="Vanara.PInvoke.Shared" version="1.0.14" targetFramework="net45" />
  <package id="Vanara.PInvoke.Shell32" version="1.0.14" targetFramework="net45" />
  <package id="Vanara.PInvoke.User32" version="1.0.14" targetFramework="net45" />
  <package id="Vanara.PInvoke.User32.Gdi" version="1.0.14" targetFramework="net45" />
  <package id="Vanara.PInvoke.UxTheme" version="1.0.14" targetFramework="net45" />
  <package id="Vanara.Security" version="1.0.14" targetFramework="net45" />
  <package id="Vanara.Windows.Forms" version="1.0.14" targetFramework="net45" />
</packages>